.home-filters {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-area: filters;
    color: #0b0b0b;
    font-size: 14px;
}

.filter-list li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.filter-list li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.home-filters__title,
.home-filters__advanced-filters {
    padding: 18px 22px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
}

.home-filters__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.home-filters__title h2 {
    font-size: inherit;
    font-weight: 500;
}

.home-filters__title span {
    font-size: 12px;
}
