.checkbox {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: max-content;
    user-select: none;
}

.checkbox__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #8492A7;
    border-radius: 2px;
    transition: all 0.1s ease-in-out;
}

.checkbox__btn--checked {
    background-color: #1D5ECD;
    border-color: #1D5ECD;
}

.checkbox__label {
    font-size: 15px;
}

.checkbox,
.checkbox__btn,
.checkbox__label {
    cursor: pointer;
}
