* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9faff;
    font-family: 'Poppins', sans-serif;
    padding-inline-start: 70px;
}

input {
    font-family: inherit;
}
